.item1{ 
    /* grid-area: video; */
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1000px; */
    float:left;
    width:65%;
    /* border: 5px solid green; */
}

#video{
    max-height: 750px;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;
    display:block;
    align-content: center;
    /* border: 5px solid #eee; */
    /* position: relative; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.item2 { 
    /* grid-area: menu; */
    display:block;
    float:left;
    width: 35%;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .grid-container, .item1, .item2 {
        display: block;
        width: 100%;
        bottom: auto;
    }

    .grid-container {
        margin-top:500px;
    }
}

.main {
    /* position:fixed; */
    top:0;
    bottom:0;
    width:100%;
    height:1500px;
    /* border:5px solid green; */
}

.grid-container {
    width: 95%;
    max-width: 1500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 120px;
    overflow:hidden;

    background-color:rgba(100, 100, 100, 0.1);
    border-radius: 30px;

    /* border: 5px solid red; */
    
    /* display: grid; */
    /* grid-template-areas:
        'video video video video menu'
        'video video video video menu'
        'video video video video menu'
        'video video video video menu'
        'video video video video menu'; */
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    /* background-color:rgb(29, 29, 29); */
    border-radius: 10px;
    padding: 20px 0;
}
  
.caption-text{
    margin-left:10px;
    color:white;
    text-align: left;
    /* margin-bottom: 10px; */
}

/* RESULTS */

table {
    border-collapse : collapse;
    width: 100%;
}

td {
    border: 15px;
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

/* DROPDOWN - SAMPLE VIDEOS */

.btn-group{
    width:100%;
}
#dropdownMenuButton{
    position: relative;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.dropdown-toggle:after{
    position: absolute;
    top: 16px;
    right: 9px;
}
.dropdown-menu{
    min-width:96%;
    max-height: 300px;
    overflow: scroll;
}

/* UPLOAD BUTTON */

.file-input{
    width:100%;
    align-items: center;
}
.form-control{
    display: block;
    width: 96%;
    margin-left:auto;
    margin-right:auto;
}
#upload-button{
    display: block;
    width: 250px;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}

/* TO VET */

#video-title{
    color: white;
    font-size:21px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    max-width:800px;
    overflow:hidden;
}

.title-font{
    color:white;
    text-align:left;
    /* font-family: Verdana; */
}
.menu-button{
    text-align:center;
    margin-left:10px;
    padding-bottom: 5px;
    background-color: rgb(30, 30, 30)
}
h2{
    color:white;
    padding-bottom: 8px;
}

/* Detect page */

#detectContainer{
    margin-top: 3%;
    width: 97%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3%;
    min-height: 97%;
}


.file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    cursor: pointer;
}


hr.style18 { 
    z-index:99;
    width:85%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(0,0,0,0);
    border-bottom-color:rgba(0,0,0,0);
    border-top: 3px solid #00ccff;
} 


.detect-h2 {
    text-align: left;
    margin-left: 15px;
}