<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>
    <style>
        body{
            background-color:grey
        }

        .title-font{
            color:aqua;
            text-align:center;
        }

        .menu-button{
            text-align:center;
        }

        a{
            color:white;
            border-style: solid;
            border-width: thin;
            border-color: black;
            padding:10px;
        }
        
        h1{
            background-color:black;
        }
    </style>
    {% block body %}{% endblock %}
</body>
</html>