{% extends 'base.html' %}

{% block head %}
<h1 class="title-font">Home</h1>
{% endblock %}

{% block body %}
<div>
    <div class="row">
        <div class="col-sm-4 order-sm-2, menu-button"><a href="{{ url_for('home') }}"><b>Home</b></a><br></div>
        <div class="col-sm-4 order-sm-2, menu-button"><a href="{{ url_for('aboutus') }}"><b>About Us</b></a><br></div>
        <div class="col-sm-4 order-sm-2, menu-button"><a href="{{ url_for('detect') }}"><b>Detect</b></a><br></div>
    </div>
</div>

{% endblock %}